/*Il file css è unico per tutto il sito, non serve dividerlo in più file per 
 * ogni file html, perché comunque è tutto testo e pesa poco*/


/*elimina le impostazioni predefinite del browser*/
*{
    padding: 0em;
    margin: 0em;
}

/* Dichiarazione variabili*/
:root{
    --bgcolor:#0365AE;
    --txtcolor:#fff;
    --breadcolor:#163F77;
    --linkcolor:#fff;
    --visitedcolor:#F3C42B;
    --newscolor:#F3C42B;
    --newstxtcolor:#000;
    --contentbgcolor:#fff;
    --contentxtcolor:#000;
}

/*Si applica a tutto*/
html, body{
    font-size: 100%;
    font-family:"Lexend", Roboto, sans-serif; /*Lexend e Roboto sono buoni per accessibilità, per persone dislessiche*/
    line-height: 1.5em; /*per accessibilità*/
}

html{
    background-image:  
    url("./materiale/images/palla.png"),
    url("./materiale/images/palla.png"),
    url("./materiale/images/palla.png"),
    linear-gradient(to bottom right, rgb(22 63 119/100%), transparent);

    background-repeat: no-repeat;
    background-position-x: top left, center right, bottom left, top left  ;
    background-size: 5%, 5%, 5%, 100%;

}

body{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    max-width: 1200px;
    margin: auto;
}

/*
 =============================================================================
  SEZIONE MENU'
 =============================================================================
*/

#menu{
    float: left;
    width: 18%;
    padding: 0.8em;
    font-size: 1.3em;
}

#menu a:link{
    color: var(--linkcolor);
}

#menu a:visited{
    color: var(--visitedcolor);
}

#menu ul{
    list-style-type: none;
}
#menu ul li{
    margin-top: 1.5em;
}

#currentlink{
    background-image: url("./materiale/images/palla.png");
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}


/*
 =============================================================================
  SEZIONE HEADER
 =============================================================================
*/

header{
    padding: 0em 1em;
    text-align: center;
    margin: 1em;
}


header h1{
    background-image: url("./materiale/images/logo_fipav.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    text-indent: -9999em;
    font-size: 6em;
    line-height: 1.5em;
    margin-top: 0.3em;
}

header h2{
    font-size: 1.8em;
    margin-top: 1.5em;
    padding: 0.5em;
}

#coppe{
    width: 140px;
    float: left;
    background-color: white;
    padding: 1em;
    border: solid 1px black;
    margin-top: 0em;
    transform: rotate(-15deg);
    transition: .5s;
}
#capitani{
    width: 140px;
    float: right;
    background-color: white;
    padding: 1em;
    border: solid 1px black;
    margin-top: 2em;
    transform: rotate(20deg);
    transition: .5s;

}
/*
 =============================================================================
  SEZIONE ANIMAZIONI
 =============================================================================
*/
#coppe:hover{
    transform:rotate(20deg);
}
#capitani:hover{
    transform:rotate(-20deg);
}
/*
 =============================================================================
  SEZIONE MAIN
 =============================================================================
*/

main{
    margin-left: 20%;
    background-color: var(--contentbgcolor);
    color: var(--contentxtcolor);
    padding-left: 3.5em;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border: 1px solid black;
}

main h1{
    text-align: center;
    line-height: 1.5em;
}
main h2{
    text-align: center;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.polaroid{
    width: 30%;
    float: right;
    background-color: white;
    padding: 0.5em;
    border: solid 1px black;
    transform: rotate(-3deg);
    margin: 1em;

}


/*
 =============================================================================
  SEZIONE NEWS
 =============================================================================
*/

#breakingNews{
    float: right;
    width: 18%;
    color: var(--txtcolor);
    background-color: var(--bgcolor);
    border: solid 1px black;
    padding: 0.5em;
    margin-right: 2%;
    margin-top: 1em;
}

#breakingNews h2{
    font-size: 1.2em;
    background-color: var(--newscolor);
    color: var(--newstxtcolor);
    padding: 0.2em;
}

#breakingNews dl dd{
    margin-left: 1.5em;
    
}
#breakingNews dt{
    font-weight: bold;
    margin-left: 0.8em;
    
}

/*
 =============================================================================
  SEZIONE BREADCRUMB
 =============================================================================
*/

#breadcrumb{
    background-color: var(--breadcolor);
    color:var(--txtcolor);
    font-size: 1.1em;
    border: 1px solid #000;
    padding: 0.5em 0em 0.5em 1.0em;
}

/*
 =============================================================================
  SEZIONE FOOTER
 =============================================================================
*/

footer{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    text-align: center;
    font-size: 0.8em;
    border: 1 solid #000;
    padding: 0.5em;
}

footer img{
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0.7em;
    vertical-align: middle;

}

footer p{
    font-style: italic;
    display: inline;
}

/*
 =============================================================================
  SEZIONE SQUADRA
 =============================================================================
*/

.players img{
    float: left;
    width: 20%;
    padding-right: 2.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.players > dt{
    background-color: var(--breadcolor);
    color:var(--txtcolor);
    padding: 0.5em;
    font-size: 1.1em;

}

.players > dd{
    border: solid 1px black;
    border-top: none;
    margin-bottom: 1.0em;
    padding: 0.5em;

}


.player dt{
    font-weight:bold;
    float: left;
    padding-right: 0.5em;
}

.player li{
    list-style-type: none;
    background-image: url("./materiale/images/palla.png");
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}

.player{
    margin-left: 20%;
}

dt.riconoscimenti{
    float: none;
}







